sudo: required
language: c++
addons:
  apt:
    packages:
      - cmake
      - ninja-build
      - cppcheck
      - clang
script:
  - sudo add-apt-repository ppa:team-gcc-arm-embedded/ppa -y
  - sudo apt-get update -q
  - sudo apt-get install gcc-arm-embedded -y
  - arm-none-eabi-gcc --version
  - cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=1 -DCMAKE_TOOLCHAIN_FILE=./cmake/gcc.cmake -G "Ninja"
  - ninja
  - cppcheck src/
  - for f in src/**/*.cpp; do clang-format $f | diff -u $f -; done
  - ./analyze.sh
